
h1 {
    color: navajowhite;
    font-variant-caps: all-small-caps;
    font-size: 46px;
}

h3 {
  color: white;
  font-size: 36px;
}

li {
  color: black;
  /*  font-size: 50px;*/
}

body {
    background: firebrick;
    padding-bottom: 20px;

}

.navbar {
  margin-bottom: 20px;
}

canvas {
    background: white;
}

#getgroc{
    width: 50%;
    font-weight:800;
    font-size: large;
    color: ivory;
}


#grocerytable tr {
    background-color: #fff;
}

#grocerytable td {
    color: darkblue;
    font-weight: bold;
}

#printme {
    height: inherit;
    align-self: center;
}


@media print {
    *, :after, :before {
      color: #000!important;
      text-shadow: none!important;
      background: 0 0!important;
      -webkit-box-shadow: none!important;
      box-shadow: none!important;
    }
}