<link rel="stylesheet" href="/static/typeahead.css">

<div class="container ">
    <div class="form-group row justify-center">
      <div class="col-12">
        <header><h1>Recipe List</h1></header>
        <div class="wrapper input-group mb-3">
          <input id="userinput" type="text" class="typeahead form-control" placeholder="Add a recipe..." required >
          <input id="hidden_match" type="hidden" value="false">
          <div class="input-group-append">
            <button class="btn btn-info" id="add" type="button">Add</button>
          </div>
        </div>

      </div>
      <div class="col-12">
        <ul id="list" class="list-group">
        </ul>
      </div>

    </div>
  <div class="d-flex justify-content-center">
    <button
            onclick='get_groceries("{{ url_for('static', filename='loading.gif') }}")'
            id="getgroc"
            class="btn btn-success">
      Get Grocery List
    </button>
<!--      <a href="javascript:get_groceries({{ url_for('static', filename='loading.gif') }});"></a>-->

  </div>
</div>
<script type="text/javascript">
  recipes = ({{recipes|tojson|safe}})
</script>
<script type="text/javascript" src="{{ url_for('static', filename='search.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='list.js') }}"></script>
<!--<script>-->
<!--      $('#getgroc').click(function() {-->
<!--//        $('#getgroc').html('<img src="{{ url_for("static", filename="loading.gif") }}>');-->
<!--         $('#getgroc').html('<img src="{{ url_for('static', filename='loading.gif') }}">');-->
<!--//        $('#getgroc').html('<img src="{{ url_for('static', filename='loading.gif') }}">');-->
<!--        list = $('#list');-->
<!--        if (list.children().length > 0){-->
<!--            $('.list-group').append("<li class='list-group-item'>"+input.val()+"</li>");-->
<!--            // clear input and typehead-->
<!--            input.val('');-->
<!--            $('.typeahead').typeahead('val', '');-->
<!--        }-->

<!--    });-->
<!--</script>-->